.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layoutBox {
  display: flex;
}

.contentWrapper {
  width: 100%;
  height: calc(100vh - 248px);
  overflow: auto;
}

