.menubarContainer {
  height: calc(100vh - 248px);
}
.menubarBox {
  display: flex;
  height: 100%;
  
}

.menubarLeft {
  width: 60px;
  background-color: #1E293B;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menubarRight {
  width: 400px;
  background-color: #0F172A;
}

.svgIcon {
  width: 25px;
  height: 25px;
}
