.mainContainer {
  padding: 40px 40px;
}

.title {
  font-size: 80px;
}

.titleLine {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 40px;
  position:relative;
 
}

.mainListGroup {
  list-style: disc;
}
