h1 {
  font-weight: 900;
  color: #fbf9f3
}

h2 {
  font-weight: 900;
  font-size: 1.5em;
}

h3 {
  font-weight: 900;
  font-size: 1.2em;
  color: #486be9;
  margin-bottom: 5px;
}

pre {
  background-color: #1C0398;
  padding: 10px;
  margin: 10px 0;
}

code {
  font-size: 0.85em;
  font-weight: 800;
  background-color: #1C0398;
  padding: 5px 7px;
  border-radius: 5px;
}

li {
  list-style: disc;
  margin: 8px 0 0 24px;
}

a {
  font-weight: 900;
  color: #a4b9ef;
}